@import './/reset.css';

body {
    display: flex;
    width: 100% ;
    padding: 40px;
    justify-content: center;


}
.table {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 500px;
    box-shadow: 0 4px 8px #0004;
}
.table > .header {
    display: flex;
    background-color: #777;
    color: coral;

}
.table > .content {
    display: flex;
    flex-direction: column;

}
.table > .content > .item {
     display: flex;
     border-bottom: 1px solid #ccc;

}
.table > .content > .item:nth-of-type(2n) {
    background-color: #ccc;
}    
.table .col {
    width: 50%; 
    padding: 10px 30px;

}

@media (max-width: 640px) {
    .table .col {
        width: 100%;
    }
    .table > .content > .item {       
        flex-direction: column;
    }
    .table > .header {
        background-color: #777;
        color: coral;
    }        
}



h1 { text-align: center; }
 
form absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } button { padding: 10px 30px; font-size: 50px; line-height: 30px; border: none; border-radius: 5px; cursor: pointer; box-shadow: 0 4px 10px #0002; } .minus { background-color: red; color: #fff; } .plus { background-color: green; color: #fff; } .number { padding: { display: flex; gap: 20px; position: 10px 30px; font-size: 50px; line-height: 30px; }
